<!-- TopNavBar -->
<nav class="fixed top-0 w-full z-[9999] bg-[#041329]/80 backdrop-blur-xl border-b border-white/10 shadow-2xl shadow-indigo-900/20 flex justify-between items-center px-8 h-20">  <div class="flex items-center gap-2">
    <span class="text-2xl font-bold tracking-tighter text-white font-headline">FlyTrack</span>
  </div>

  <div class="hidden md:flex items-center gap-8">

<a routerLink="/"
   class="font-['Space_Grotesk'] text-sm tracking-wide text-slate-400 hover:text-indigo-200 transition-colors">
Inicio</a>   

<a routerLink="/misVuelos"
   class="font-['Space_Grotesk'] text-sm tracking-wide text-slate-400 hover:text-indigo-200 transition-colors">
Mis Vuelos</a> 

    <a class="font-['Space_Grotesk'] text-sm tracking-wide text-slate-400 hover:text-indigo-200 transition-colors" href="#">Equipaje</a>
    <a class="font-['Space_Grotesk'] text-sm tracking-wide text-slate-400 hover:text-indigo-200 transition-colors" href="#">Ayuda</a>
  </div>

  <div class="flex items-center gap-4">
    <button class="material-symbols-outlined text-slate-400 hover:bg-white/5 transition-all duration-300 p-2 rounded-full active:scale-95 transition-transform">
      account_circle
    </button>
  </div>
</nav>